.conteudo{
    margin-top: 20%;
    margin-bottom: 20%;
}
.DadosBrasil{
    text-align: start;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    background-color: #53db3e;
    color: rgb(255, 255, 255);
    text-shadow: black 1px 0px 3px;
    box-shadow: black 0px 5px 20px
}
.casos{
    font-size:15px;
}
.bandeira{
    width: 100%;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 0px 6px black;
}
.DadosBrasil h3{
    margin-top: 1%;
}
.Titulo{
    border-bottom: 1px solid rgb(94, 92, 92);
    text-align: center;
}
.Titulo h3{ 
   font-size: 40px;
}
.Opcoes{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.DadosBrasil a{
    
    text-decoration: none;
    color: white;
}
.Opcoes a{
    background-color: #53db3e;
    color: rgb(255, 255, 255);
    text-shadow: black 1px 0px 3px;
    box-shadow: black 0px 5px 20px;
   border-radius: 10px;
   text-decoration: none;
   font-size:20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 6%;
}

