@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header#main-header{
 
    height: 60px;
    width: 100%;
    box-shadow: 0px 2px 24px black;
    background: #395E57;
    text-shadow: black 1px 0px 2px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 10%;
}